@media only screen and (min-width: 768px) {


    #first{

        height: 75vh;
        width: 65vw;
        display: flex;
        flex-direction: row;
        margin:6%;
        margin-left: 20%;
        box-shadow: 2px 4px 12px 4px rgba(0, 0, 0, 0.1);
    }

    #first0{

        width: 50%;
        background:url("../img/logins/im0.png");
        background-size: cover;


    }

    #first1{

        width: 50%;
        background-color: rgb(255, 244, 239);

    }

    #second{
        display: none;
        
    }

    
    #third{

        position: absolute;
        bottom: 30vh;
        height: 35vh;
        width: 25vw;
        left: 56vw;
        width: 25%;
        border-top-left-radius: 1.4rem;
        border-top-right-radius: 1.4rem;
        display: flex;
        flex-direction: column;
    align-items: center;
    background-color: white;
    
    }
    
    #third>span{
        color: white;
    }
    
    #third>span:nth-child(1){
        font-size: 1.2rem;
        font-family: 'JetBrains Mono', monospace;
        margin-top: 2vh;
        margin-bottom: 2vh;
    
    }
    
    .fields{
        margin-top: 1vh;
        width: 20vw;
        height: 7.1vh;
        border-radius: 0.6rem;
        border: none;
        margin-left: 0.7vw;
        padding-left: 2vw;
        background-color: #bab6b652;
    }
    
    
    #pwd>input{
    
        width: 20vw;
        margin-left: 0.7vw;

    
    }
    .btn{
        padding: 0.6rem;
        border: none;
        background-color: #F27128;
        color: white;
        font-size: 1rem;
        font-weight: 700;
        border-radius: 0.4rem;
        margin-top: 2vh;
        box-shadow: 0px 2px 9px 5px rgba(0, 0, 0, 0.11);
    }
    
    #redir_inscription{
        font-family: 'JetBrains Mono', monospace;
    font-size: 0.6rem;
    
    }
    
    footer{
        position: absolute;
        bottom: 0;
        font-family: 'JetBrains Mono', monospace;
    color: #5C4E46;
    }
    
    
    #log_opt{
    
        display: flex;
        flex-direction: row;
    }
    
    #log_opt>span{
        position: absolute;
        left: 25vw;
        color: white;
        font-weight: 600;
    }
    
    
    
    .so_list{
    
        display: flex;
        flex-direction: row;
        padding: 0.3rem;
        position: absolute;
    bottom: 3.9rem;
    left: 40vw;
    
    }
    
    .so_co{
        width: 2em;
    
        border-radius: 50%;
        border: 0.1rem solid #F27128 ;
        margin-left: 0.4rem;
    }
}